<div id="app">

    <button class="btn btn-primary" v-on:click="showNewBugModal">Add new bug...</button>

    <table class="table">

        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="(bug,index) in bugs">
                <td>{{index+1}}</td>
                <td>{{bug.name}}</td>
                <td>{{bug.description}}</td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="addNewBugModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new bug</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="name" type="text" class="form-control" style="width:100%">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input v-model="description" name="Description" type="text" class="form-control" style="width:100%">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="addBugs">Add Bugs</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

@section scripts{

    <script src="~/lib/vue/vue.min.js"></script>

<script>

    var app = new Vue({

        el: "#app",
        data: {
            
            bugs: [],
            name: "",
            description:""
        },
        created: function () {
            this.getBugs();

        },
        methods: {

            showNewBugModal: function () {
                $("#addNewBugModal").modal("show");
            },

            addBugs: function () {

                var vm = this;
                var newBug = {
                    name: vm.name,
                    description: vm.description
                }

                $.ajax({ url: "/bug", data: newBug, method: "POST" })
                    .done(function (data) {
                        vm.bugs.splice(0, 0, newBug);
                        toastr.success("Success");
                    }).fail(function () {
                        toastr.fail("Failed");
                    }).always(function () {
                        vm.name = "";
                        vm.description = "";
                        $("#addNewBugModal").modal("hide");
                    });

            },

            getBugs: function () {
                var vm = this;

                $.ajax({ url: "/bug", method: "GET" })
                    .done(function (data) {
                        vm.bugs = data;
                        toastr.success("Success");
                    }).fail(function () {
                        toastr.error("Error");
                    });
            }
        }

    });

</script>
}



