<div id="app">
    {{message}}
</div>

@section scripts{

    <script src="~/lib/vue/vue.min.js"></script>

<script>

    var app = new Vue({

        el: "#app",
        data: {
            message: "Hello",
            bugs: []
        },
        created: function () {
            this.getBugs();

        },
        methods: {
            getBugs: function () {
                var vm = this;

                $.ajax({ url: "/bug", method: "GET" })
                    .done(function (data) {
                        vm.bugs = data;
                        toastr.success("Success");
                    }).fail(function () {
                        toastr.error("Error");
                    });
            }
        }

    });

</script>
}



